extends includes/_layout.pug

block main
    .container-md
        .title
            h1 Webstart
            .lead A simple toolchain to jump-start a static website project
            .my-5
        .row.justify-content-center
            .col-3
                a(href='https://github.com/vjba/webstart') Source
            .col-3
                a(href='https://github.com/vjba/webstart/blob/main/LICENSE') License
        .my-5
            code git@github.com:vjba/webstart.git
