extends includes/_layout.pug

block main
    .container.h-100
        .row.h-100.align-items-center.justify-content-center
            .col-md-6.text-center
                .row
                    h1 Webstart
                    h2 A toolchain to jump-start your static site
                .row.my-5
                    .col-4.offset-2
                        a(href='https://github.com/vjba/webstart') Source
                    .col-4
                        a(href='https://github.com/vjba/webstart/blob/main/LICENSE') License
                .row.my-5.mx-1
                    .col
                        code.shadow git@github.com:vjba/webstart.git
                            button#copyRepoLink.btn.ms-4(onclick='copyRepo()') copy
