@font-face {
    font-family: 'Roboto-Regular';
    src: url('../assets/font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../assets/font/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Mono';
    src: url('../assets/font/RobotoMono-Regular.ttf') format('truetype');
}

$font-family-sans-serif: 'Roboto-Regular', sans-serif;
$font-family-monospace: 'Roboto-Mono', monospace;
